In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
sns.set()

In [28]:
pd.set_option('display.max_row', None)
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('athlete_events.csv')

In [4]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
df.describe(include='all')

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
count,271116.000000,271116,271116,261642.000000,210945.000000,208241.000000,271116,271116,271116,271116.000000,271116,271116,271116,271116,39783
unique,NaN,134732,2,NaN,NaN,NaN,1184,230,51,NaN,2,42,66,765,3
top,NaN,Robert Tait McKenzie,M,NaN,NaN,NaN,United States,USA,2000 Summer,NaN,Summer,London,Athletics,Football Men's Football,Gold
freq,NaN,58,196594,NaN,NaN,NaN,17847,18853,13821,NaN,222552,22426,38624,5733,13372
mean,68248.954396,NaN,NaN,25.556898,175.338970,70.702393,NaN,NaN,NaN,1978.378480,NaN,NaN,NaN,NaN,NaN
std,39022.286345,NaN,NaN,6.393561,10.518462,14.348020,NaN,NaN,NaN,29.877632,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,10.000000,127.000000,25.000000,NaN,NaN,NaN,1896.000000,NaN,NaN,NaN,NaN,NaN
25%,34643.000000,NaN,NaN,21.000000,168.000000,60.000000,NaN,NaN,NaN,1960.000000,NaN,NaN,NaN,NaN,NaN
50%,68205.000000,NaN,NaN,24.000000,175.000000,70.000000,NaN,NaN,NaN,1988.000000,NaN,NaN,NaN,NaN,NaN
75%,102097.250000,NaN,NaN,28.000000,183.000000,79.000000,NaN,NaN,NaN,2002.000000,NaN,NaN,NaN,NaN,NaN
max,135571.000000,NaN,NaN,97.000000,226.000000,214.000000,NaN,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN

Let's know which country is more active in The Olympics

In [6]:
df.NOC.unique()

array(['CHN', 'DEN', 'NED', 'USA', 'FIN', 'NOR', 'ROU', 'EST', 'FRA',
       'MAR', 'ESP', 'EGY', 'IRI', 'BUL', 'ITA', 'CHA', 'AZE', 'SUD',
       'RUS', 'ARG', 'CUB', 'BLR', 'GRE', 'CMR', 'TUR', 'CHI', 'MEX',
       'URS', 'NCA', 'HUN', 'NGR', 'ALG', 'KUW', 'BRN', 'PAK', 'IRQ',
       'UAR', 'LIB', 'QAT', 'MAS', 'GER', 'CAN', 'IRL', 'AUS', 'RSA',
       'ERI', 'TAN', 'JOR', 'TUN', 'LBA', 'BEL', 'DJI', 'PLE', 'COM',
       'KAZ', 'BRU', 'IND', 'KSA', 'SYR', 'MDV', 'ETH', 'UAE', 'YAR',
       'INA', 'PHI', 'SGP', 'UZB', 'KGZ', 'TJK', 'EUN', 'JPN', 'CGO',
       'SUI', 'BRA', 'FRG', 'GDR', 'MON', 'ISR', 'URU', 'SWE', 'ISV',
       'SRI', 'ARM', 'CIV', 'KEN', 'BEN', 'UKR', 'GBR', 'GHA', 'SOM',
       'LAT', 'NIG', 'MLI', 'AFG', 'POL', 'CRC', 'PAN', 'GEO', 'SLO',
       'CRO', 'GUY', 'NZL', 'POR', 'PAR', 'ANG', 'VEN', 'COL', 'BAN',
       'PER', 'ESA', 'PUR', 'UGA', 'HON', 'ECU', 'TKM', 'MRI', 'SEY',
       'TCH', 'LUX', 'MTN', 'CZE', 'SKN', 'TTO', 'DOM', 'VIN', 'JAM',
       'LBR', 'SUR', 'NEP', 'MGL', 'AUT', 'PLW', 'LTU', 'TOG', 'NAM',
       'AHO', 'ISL', 'ASA', 'SAM', 'RWA', 'DMA', 'HAI', 'MLT', 'CYP',
       'GUI', 'BIZ', 'YMD', 'KOR', 'THA', 'BER', 'ANZ', 'SCG', 'SLE',
       'PNG', 'YEM', 'IOA', 'OMA', 'FIJ', 'VAN', 'MDA', 'YUG', 'BAH',
       'GUA', 'SRB', 'IVB', 'MOZ', 'CAF', 'MAD', 'MAL', 'BIH', 'GUM',
       'CAY', 'SVK', 'BAR', 'GBS', 'TLS', 'COD', 'GAB', 'SMR', 'LAO',
       'BOT', 'ROT', 'CAM', 'PRK', 'SOL', 'SEN', 'CPV', 'CRT', 'GEQ',
       'BOL', 'SAA', 'AND', 'ANT', 'ZIM', 'GRN', 'HKG', 'LCA', 'FSM',
       'MYA', 'MAW', 'ZAM', 'RHO', 'TPE', 'STP', 'MKD', 'BOH', 'TGA',
       'LIE', 'MNE', 'GAM', 'COK', 'ALB', 'WIF', 'SWZ', 'BUR', 'NBO',
       'BDI', 'ARU', 'NRU', 'VNM', 'VIE', 'BHU', 'MHL', 'KIR', 'UNK',
       'TUV', 'NFL', 'KOS', 'SSD', 'LES'], dtype=object)

In [7]:
df_noc_counts = df['NOC'].value_counts()

In [8]:
#Converting int64 to pandas DataFrame
countries = df_noc_counts.reset_index()
countries = countries.rename(columns={'index': 'Countries', 'NOC': 'Count'})
countries.index = np.arange(1,len(countries)+1)
countries

    Countries  Count
1         USA  18853
2         FRA  12758
3         GBR  12256
4         ITA  10715
5         GER   9830
6         CAN   9733
7         JPN   8444
8         SWE   8339
9         AUS   7638
10        HUN   6607
11        POL   6207
12        SUI   6150
13        NED   5839
14        URS   5685
15        FIN   5467
16        ESP   5313
17        RUS   5143
18        AUT   5141
19        CHN   5141
20        NOR   4960
21        KOR   4464
22        ROU   4405
23        TCH   4404
24        BEL   3857
25        BRA   3848
26        DEN   3570
27        BUL   3530
28        FRG   3315
29        ARG   3297
30        GRE   3181
31        MEX   2880
32        GDR   2645
33        YUG   2583
34        UKR   2559
35        CUB   2479
36        NZL   2342
37        CZE   1874
38        BLR   1787
39        RSA   1711
40        EGY   1622
41        POR   1522
42        KAZ   1429
43        IND   1408
44        TUR   1356
45        IRL   1325
46        SLO   1111
47        TPE   1097
48        COL   1069
49        SVK   1055
50        LUX    996
51        LAT    951
52        PUR    927
53        VEN    925
54        CHI    925
55        NGR    882
56        CRO    876
57        EST    876
58        EUN    864
59        JAM    848
60        PRK    807
61        IRI    789
62        KEN    772
63        THA    747
64        PHI    694
65        HKG    685
66        MAR    682
67        ISR    665
68        LTU    654
69        ISL    627
70        URU    576
71        PAK    562
72        TUN    561
73        ALG    551
74        MGL    550
75        PER    532
76        MAS    530
77        UZB    495
78        GUA    425
79        INA    412
80        SEN    393
81        SRB    392
82        ETH    378
83        TTO    375
84        BAH    374
85        LIE    369
86        GHA    359
87        SGP    349
88        LIB    329
89        SCG    321
90        CMR    312
91        ZIM    311
92        ISV    294
93        GEO    286
94        KUW    284
95        AZE    283
96        DOM    277
97        ECU    277
98        ANG    267
99        CRC    264
100       UGA    260
101       MDA    234
102       IRQ    232
103       FIJ    232
104       KSA    230
105       KGZ    227
106       CYP    225
107       ARM    221
108       BAR    219
109       ESA    218
110       BER    212
111       MON    197
112       CIV    193
113       QAT    192
114       HON    189
115       ZAM    183
116       SMR    181
117       AND    169
118       TAN    161
119       SYR    156
120       VIE    154
121       BOH    153
122       BOL    152
123       SRI    146
124       UAE    144
125       MRI    144
126       PAN    139
127       PAR    135
128       BIH    134
129       ANT    133
130       NCA    129
131       BRN    126
132       AFG    126
133       UAR    123
134       MAD    119
135       MLT    118
136       SLE    114
137       GUM    112
138       SEY    111
139       MYA    111
140       PNG    108
141       SUD    107
142       HAI    106
143       CGO    105
144       GUY    102
145       NEP     94
146       MNE     94
147       IOA     94
148       COD     93
149       SAA     93
150       MLI     92
151       BOT     90
152       MAW     87
153       ANZ     86
154       MKD     84
155       LBA     84
156       CAY     83
157       JOR     80
158       AHO     79
159       MOZ     78
160       NAM     77
161       BIZ     76
162       LBR     74
163       GUI     73
164       BEN     71
165       TJK     70
166       ALB     70
167       SUR     69
168       SWZ     67
169       CAF     67
170       OMA     66
171       LES     66
172       CAM     63
173       SAM     63
174       GAB     63
175       VNM     62
176       TOG     59
177       GAM     56
178       RWA     56
179       BAN     55
180       GRN     54
181       LAO     54
182       TKM     54
183       MDV     49
184       NIG     47
185       TGA     46
186       IVB     45
187       MAL     45
188       BUR     44
189       ERI     43
190       SKN     42
191       VIN     42
192       ARU     42
193       CHA     41
194       GEQ     40
195       COK     40
196       BDI     39
197       DJI     38
198       ASA     37
199       BHU     36
200       VAN     35
201       SOM     32
202       YEM     32
203       MTN     29
204       LCA     28
205       SOL     27
206       FSM     26
207       PLW     25
208       GBS     21
209       PLE     21
210       WIF     20
211       DMA     19
212       COM     19
213       CPV     18
214       STP     15
215       MHL     14
216       NRU     13
217       RHO     12
218       ROT     12
219       KIR     11
220       CRT     11
221       YAR     11
222       BRU     10
223       TLS      9
224       KOS      8
225       TUV      7
226       YMD      5
227       SSD      3
228       NBO      2
229       UNK      2
230       NFL      1

In [9]:
countries.mean()

Count    1178.765217
dtype: float64

In [10]:
average = np.where(countries['Count'] > countries['Count'].mean(),1,0)

In [11]:
countries['Cluster'] = average

In [12]:
countries

    Countries  Count  Cluster
1         USA  18853        1
2         FRA  12758        1
3         GBR  12256        1
4         ITA  10715        1
5         GER   9830        1
6         CAN   9733        1
7         JPN   8444        1
8         SWE   8339        1
9         AUS   7638        1
10        HUN   6607        1
11        POL   6207        1
12        SUI   6150        1
13        NED   5839        1
14        URS   5685        1
15        FIN   5467        1
16        ESP   5313        1
17        RUS   5143        1
18        AUT   5141        1
19        CHN   5141        1
20        NOR   4960        1
21        KOR   4464        1
22        ROU   4405        1
23        TCH   4404        1
24        BEL   3857        1
25        BRA   3848        1
26        DEN   3570        1
27        BUL   3530        1
28        FRG   3315        1
29        ARG   3297        1
30        GRE   3181        1
31        MEX   2880        1
32        GDR   2645        1
33        YUG   2583        1
34        UKR   2559        1
35        CUB   2479        1
36        NZL   2342        1
37        CZE   1874        1
38        BLR   1787        1
39        RSA   1711        1
40        EGY   1622        1
41        POR   1522        1
42        KAZ   1429        1
43        IND   1408        1
44        TUR   1356        1
45        IRL   1325        1
46        SLO   1111        0
47        TPE   1097        0
48        COL   1069        0
49        SVK   1055        0
50        LUX    996        0
51        LAT    951        0
52        PUR    927        0
53        VEN    925        0
54        CHI    925        0
55        NGR    882        0
56        CRO    876        0
57        EST    876        0
58        EUN    864        0
59        JAM    848        0
60        PRK    807        0
61        IRI    789        0
62        KEN    772        0
63        THA    747        0
64        PHI    694        0
65        HKG    685        0
66        MAR    682        0
67        ISR    665        0
68        LTU    654        0
69        ISL    627        0
70        URU    576        0
71        PAK    562        0
72        TUN    561        0
73        ALG    551        0
74        MGL    550        0
75        PER    532        0
76        MAS    530        0
77        UZB    495        0
78        GUA    425        0
79        INA    412        0
80        SEN    393        0
81        SRB    392        0
82        ETH    378        0
83        TTO    375        0
84        BAH    374        0
85        LIE    369        0
86        GHA    359        0
87        SGP    349        0
88        LIB    329        0
89        SCG    321        0
90        CMR    312        0
91        ZIM    311        0
92        ISV    294        0
93        GEO    286        0
94        KUW    284        0
95        AZE    283        0
96        DOM    277        0
97        ECU    277        0
98        ANG    267        0
99        CRC    264        0
100       UGA    260        0
101       MDA    234        0
102       IRQ    232        0
103       FIJ    232        0
104       KSA    230        0
105       KGZ    227        0
106       CYP    225        0
107       ARM    221        0
108       BAR    219        0
109       ESA    218        0
110       BER    212        0
111       MON    197        0
112       CIV    193        0
113       QAT    192        0
114       HON    189        0
115       ZAM    183        0
116       SMR    181        0
117       AND    169        0
118       TAN    161        0
119       SYR    156        0
120       VIE    154        0
121       BOH    153        0
122       BOL    152        0
123       SRI    146        0
124       UAE    144        0
125       MRI    144        0
126       PAN    139        0
127       PAR    135        0
128       BIH    134        0
129       ANT    133        0
130       NCA    129        0
131       BRN    126        0
132       AFG    126        0
133       UAR    123        0
134       MAD    119        0
135       MLT    118        0
136       SLE    114        0
137       GUM    112        0
138       SEY    111        0
139       MYA    111        0
140       PNG    108        0
141       SUD    107        0
142       HAI    106        0
143       CGO    105        0
144       GUY    102        0
145       NEP     94        0
146       MNE     94        0
147       IOA     94        0
148       COD     93        0
149       SAA     93        0
150       MLI     92        0
151       BOT     90        0
152       MAW     87        0
153       ANZ     86        0
154       MKD     84        0
155       LBA     84        0
156       CAY     83        0
157       JOR     80        0
158       AHO     79        0
159       MOZ     78        0
160       NAM     77        0
161       BIZ     76        0
162       LBR     74        0
163       GUI     73        0
164       BEN     71        0
165       TJK     70        0
166       ALB     70        0
167       SUR     69        0
168       SWZ     67        0
169       CAF     67        0
170       OMA     66        0
171       LES     66        0
172       CAM     63        0
173       SAM     63        0
174       GAB     63        0
175       VNM     62        0
176       TOG     59        0
177       GAM     56        0
178       RWA     56        0
179       BAN     55        0
180       GRN     54        0
181       LAO     54        0
182       TKM     54        0
183       MDV     49        0
184       NIG     47        0
185       TGA     46        0
186       IVB     45        0
187       MAL     45        0
188       BUR     44        0
189       ERI     43        0
190       SKN     42        0
191       VIN     42        0
192       ARU     42        0
193       CHA     41        0
194       GEQ     40        0
195       COK     40        0
196       BDI     39        0
197       DJI     38        0
198       ASA     37        0
199       BHU     36        0
200       VAN     35        0
201       SOM     32        0
202       YEM     32        0
203       MTN     29        0
204       LCA     28        0
205       SOL     27        0
206       FSM     26        0
207       PLW     25        0
208       GBS     21        0
209       PLE     21        0
210       WIF     20        0
211       DMA     19        0
212       COM     19        0
213       CPV     18        0
214       STP     15        0
215       MHL     14        0
216       NRU     13        0
217       RHO     12        0
218       ROT     12        0
219       KIR     11        0
220       CRT     11        0
221       YAR     11        0
222       BRU     10        0
223       TLS      9        0
224       KOS      8        0
225       TUV      7        0
226       YMD      5        0
227       SSD      3        0
228       NBO      2        0
229       UNK      2        0
230       NFL      1        0

In [13]:
#Top 10 Countries
#Mean 1179
#Most active by participants
top_10 = countries.head(10).iloc[:,0:2]
top_10

   Countries  Count
1        USA  18853
2        FRA  12758
3        GBR  12256
4        ITA  10715
5        GER   9830
6        CAN   9733
7        JPN   8444
8        SWE   8339
9        AUS   7638
10       HUN   6607

In [14]:
top_10['Countries'] = top_10['Countries'].map({'USA':'United States of America', 'FRA':'France', 
                                               'GBR':'United Kingdom', 'ITA':'Italy', 
                                               'GER':'Germany', 'CAN':'Canada', 'JPN':'Japan', 
                                               'SWE':'Sweden', 'AUS':'Australia', 'HUN':'Hungary'})
top_10

                   Countries  Count
1   United States of America  18853
2                     France  12758
3             United Kingdom  12256
4                      Italy  10715
5                    Germany   9830
6                     Canada   9733
7                      Japan   8444
8                     Sweden   8339
9                  Australia   7638
10                   Hungary   6607

In [15]:
least_10 = countries[219:230].iloc[:,0:2]
least_10

    Countries  Count
220       CRT     11
221       YAR     11
222       BRU     10
223       TLS      9
224       KOS      8
225       TUV      7
226       YMD      5
227       SSD      3
228       NBO      2
229       UNK      2
230       NFL      1

In [16]:
least_10 = least_10.drop([228], axis=0)

In [17]:
least_10

    Countries  Count
220       CRT     11
221       YAR     11
222       BRU     10
223       TLS      9
224       KOS      8
225       TUV      7
226       YMD      5
227       SSD      3
229       UNK      2
230       NFL      1

In [18]:
#Least Active Top 10 Countries
least_10_2 = least_10.sort_values(by='Count', ascending=True)
least_10_3 = least_10_2.reset_index()
least_10_3 = least_10_3.drop(['index'], axis=1)
least_10_3.index = np.arange(1,len(least_10_3)+1)
least_10_3

   Countries  Count
1        NFL      1
2        UNK      2
3        SSD      3
4        YMD      5
5        TUV      7
6        KOS      8
7        TLS      9
8        BRU     10
9        CRT     11
10       YAR     11

In [19]:
least_10_3['Countries'] = least_10_3['Countries'].map({'NFL':'Canada Newfoundland', 'NBO':'Malaysia North Borneo', 'SSD':'South Sudan',
                                                      'YMD':'South Yemen', 'TUV':'Tuvalu', 'KOS':'Kosovo', 'TLS':'Timor-Leste',
                                                      'BRU':'Brunei', 'CRT':'Greece Crete', 'KIR':'Kiribati', 'YAR':'North Yemen'})
least_10_3

              Countries  Count
1   Canada Newfoundland      1
2                   NaN      2
3           South Sudan      3
4           South Yemen      5
5                Tuvalu      7
6                Kosovo      8
7           Timor-Leste      9
8                Brunei     10
9          Greece Crete     11
10          North Yemen     11

Sports

In [20]:
df.Sport.unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [21]:
df_sport_counts = df['Sport'].value_counts()

In [22]:
sports = df_sport_counts.reset_index()
sports = sports.rename(columns={'index': 'Sport Name', 'Sport': 'Count'})
sports.index = np.arange(1,len(sports)+1)
sports

                   Sport Name  Count
1                   Athletics  38624
2                  Gymnastics  26707
3                    Swimming  23195
4                    Shooting  11448
5                     Cycling  10859
6                     Fencing  10735
7                      Rowing  10595
8        Cross Country Skiing   9133
9               Alpine Skiing   8829
10                  Wrestling   7154
11                   Football   6745
12                    Sailing   6586
13              Equestrianism   6344
14                   Canoeing   6171
15                     Boxing   6047
16              Speed Skating   5613
17                 Ice Hockey   5516
18                     Hockey   5417
19                   Biathlon   4893
20                 Basketball   4536
21              Weightlifting   3937
22                 Water Polo   3846
23                       Judo   3801
24                   Handball   3665
25           Art Competitions   3578
26                 Volleyball   3404
27                  Bobsleigh   3058
28                     Tennis   2862
29                     Diving   2842
30                Ski Jumping   2401
31                    Archery   2334
32             Figure Skating   2298
33               Table Tennis   1955
34          Modern Pentathlon   1677
35  Short Track Speed Skating   1534
36                       Luge   1479
37                  Badminton   1457
38            Nordic Combined   1344
39           Freestyle Skiing    937
40               Snowboarding    936
41      Synchronized Swimming    909
42                   Baseball    894
43        Rhythmic Gymnastics    658
44                  Taekwondo    606
45           Beach Volleyball    564
46                  Triathlon    529
47                   Softball    478
48                    Curling    463
49               Rugby Sevens    299
50                       Golf    247
51                   Skeleton    199
52                 Tug-Of-War    170
53                      Rugby    162
54               Trampolining    152
55                       Polo     95
56                   Lacrosse     60
57                   Alpinism     25
58        Military Ski Patrol     24
59                    Cricket     24
60                    Croquet     19
61               Motorboating     17
62                   Racquets     12
63               Jeu De Paume     11
64                      Roque      4
65              Basque Pelota      2
66                Aeronautics      1

In [23]:
#Top 10 sports
top_10_sports = sports.head(10).iloc[:,0:2]
top_10_sports

              Sport Name  Count
1              Athletics  38624
2             Gymnastics  26707
3               Swimming  23195
4               Shooting  11448
5                Cycling  10859
6                Fencing  10735
7                 Rowing  10595
8   Cross Country Skiing   9133
9          Alpine Skiing   8829
10             Wrestling   7154

In [24]:
#Least 10 Sports
least_10_sports = sports[56:66].iloc[:,0:2]

In [25]:
least_10_sports2 = least_10_sports.sort_values(by='Count', ascending=True)
least_10_sports3 = least_10_sports2.reset_index()
least_10_sports3 = least_10_sports3.drop(['index'], axis=1)
least_10_sports3.index = np.arange(1,len(least_10_sports3)+1)
least_10_sports3

             Sport Name  Count
1           Aeronautics      1
2         Basque Pelota      2
3                 Roque      4
4          Jeu De Paume     11
5              Racquets     12
6          Motorboating     17
7               Croquet     19
8   Military Ski Patrol     24
9               Cricket     24
10             Alpinism     25